<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <form action="/name" method="post">
            number1:<input type="number" name="num1" required/>
            <input type="submit" value="convert"/>
        </form>
        Server Version: <%= application.getServerInfo() %><br>
        Servlet Version: <%= application.getMajorVersion() %>.<%= application.getMinorVersion() %>
        JSP Version: <%= JspFactory.getDefaultFactory().getEngineInfo().getSpecificationVersion() %> <br>
    </body>
</html>
