<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>Controller.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeController</servlet-name>
        <servlet-class>Controller.EditEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>Controller.HomeController.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testController</servlet-name>
        <servlet-class>Controller.testController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testConnect2</servlet-name>
        <servlet-class>Controller.testConnect2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>Controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeList</servlet-name>
        <servlet-class>Controller.EmployeeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomer</servlet-name>
        <servlet-class>Controller.ListCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkConnect</servlet-name>
        <servlet-class>Controller.checkConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderController</servlet-name>
        <servlet-class>Controller.orderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreController</servlet-name>
        <servlet-class>Controller.StoreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStoreController</servlet-name>
        <servlet-class>Controller.EditStoreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>Controller.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryController</servlet-name>
        <servlet-class>Controller.EditCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductPageController</servlet-name>
        <servlet-class>Controller.HomeController.ProductPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartController</servlet-name>
        <servlet-class>Controller.HomeController.ShoppingCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCookieController</servlet-name>
        <servlet-class>Controller.HomeController.EditCookieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutShoppingController</servlet-name>
        <servlet-class>Controller.HomeController.checkoutShoppingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processOrderDetailsController</servlet-name>
        <servlet-class>Controller.HomeController.processOrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salaryController</servlet-name>
        <servlet-class>Controller.salaryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>successOrderController</servlet-name>
        <servlet-class>Controller.successOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>Controller.ProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSearchController</servlet-name>
        <servlet-class>Controller.ProductSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartForCustomer</servlet-name>
        <servlet-class>Controller.cartForCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCustomerCart</servlet-name>
        <servlet-class>Controller.ShowCustomerCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerCartController</servlet-name>
        <servlet-class>Controller.EditCustomerCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutCustomerShoppingController</servlet-name>
        <servlet-class>Controller.HomeController.checkoutCustomerShoppingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerManager</servlet-name>
        <servlet-class>Controller.CustomerManage.CustomerManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salaryDetailsController</servlet-name>
        <servlet-class>Controller.CustomerManage.salaryDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderCustomerController</servlet-name>
        <servlet-class>Controller.CustomerManage.orderCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerprocessOrderDetailsController</servlet-name>
        <servlet-class>Controller.CustomerManage.CustomerprocessOrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>successCustomerOrderController</servlet-name>
        <servlet-class>Controller.successCustomerOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClickViewProductDetailsController</servlet-name>
        <servlet-class>Controller.HomeController.ClickViewProductDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPasswordController</servlet-name>
        <servlet-class>Controller.forgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductController</servlet-name>
        <servlet-class>Controller.addProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOrderCustomerList</servlet-name>
        <servlet-class>Controller.CustomerManage.searchOrderCustomerList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/EmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeController</servlet-name>
        <url-pattern>/EditEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/IndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testController</servlet-name>
        <url-pattern>/testController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testConnect2</servlet-name>
        <url-pattern>/testConnect2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeList</servlet-name>
        <url-pattern>/EmployeeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCustomer</servlet-name>
        <url-pattern>/ListCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkConnect</servlet-name>
        <url-pattern>/checkConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderController</servlet-name>
        <url-pattern>/orderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreController</servlet-name>
        <url-pattern>/StoreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStoreController</servlet-name>
        <url-pattern>/EditStoreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/EditProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryController</servlet-name>
        <url-pattern>/EditCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductPageController</servlet-name>
        <url-pattern>/ProductPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartController</servlet-name>
        <url-pattern>/ShoppingCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCookieController</servlet-name>
        <url-pattern>/EditCookieController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutShoppingController</servlet-name>
        <url-pattern>/checkoutShoppingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processOrderDetailsController</servlet-name>
        <url-pattern>/processOrderDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salaryController</servlet-name>
        <url-pattern>/salaryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>successOrderController</servlet-name>
        <url-pattern>/successOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSearchController</servlet-name>
        <url-pattern>/ProductSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartForCustomer</servlet-name>
        <url-pattern>/cartForCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCustomerCart</servlet-name>
        <url-pattern>/ShowCustomerCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerCartController</servlet-name>
        <url-pattern>/EditCustomerCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutCustomerShoppingController</servlet-name>
        <url-pattern>/checkoutCustomerShoppingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerManager</servlet-name>
        <url-pattern>/CustomerManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salaryDetailsController</servlet-name>
        <url-pattern>/salaryDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderCustomerController</servlet-name>
        <url-pattern>/orderCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerprocessOrderDetailsController</servlet-name>
        <url-pattern>/CustomerprocessOrderDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>successCustomerOrderController</servlet-name>
        <url-pattern>/successCustomerOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClickViewProductDetailsController</servlet-name>
        <url-pattern>/ClickViewProductDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPasswordController</servlet-name>
        <url-pattern>/forgotPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductController</servlet-name>
        <url-pattern>/addProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOrderCustomerList</servlet-name>
        <url-pattern>/searchOrderCustomerList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
